<%-include('includes/head')%>
<body>
  <section class="container">
    <h1>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      <%- umaVariavelLocal%>
    </h1>
    <form action="/" method="post">
      <input type="hidden" name="_csrf" value="<%=csrfToken%>">
      <label>client</label>
      <input type="text" name="client">
      <button>Submit</button>
    </form>
  </section>

  <script src="./assets/js/bundle.js"></script>
</body>

</html>